@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #8424dd;
    --secondary-color: #6700c7;
    --dark-color: #141414;
    --dark-gray: #1d1d1d;
    --light-gray: #2d2d2d;
    --light-color: #f4f4f4;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Prompt', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu-highlight {
    width: 192px;
    height: 48px;
    --round: 7px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.25s ease;
    border-radius: var(--round);
    border: none;
    outline: none;
    padding: 6px 12px;
    &.normal { background: var(--light-gray);}
    &.special { background:
            radial-gradient(65.28% 65.28% at 50% 100%,
            rgba(223, 113, 255, 0.8) 0%,
            rgba(223, 113, 255, 0) 100%),
            linear-gradient(0deg, #7a5af8, #7a5af8);}
}

.menu-highlight::before,
.menu-highlight::after {
    content: "";
    position: absolute;
    inset: var(--space);
    transition: all 0.5s ease-in-out;
    border-radius: calc(var(--round) - var(--space));
    z-index: 0;
}

.menu-highlight.special::before {
    --space: 1px;
    background: linear-gradient(177.95deg,
            rgba(255, 255, 255, 0.19) 0%,
            rgba(255, 255, 255, 0) 100%);
}

.menu-highlight.special::after {
    --space: 2px;
    background: radial-gradient(65.28% 65.28% at 50% 100%,
            rgba(223, 113, 255, 0.8) 0%,
            rgba(223, 113, 255, 0) 100%),
        linear-gradient(0deg, #7a5af8, #7a5af8);
}

.points_wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    display: none;
}

.points_wrapper .point {
    bottom: -10px;
    position: absolute;
    animation: floating-points infinite ease-in-out;
    pointer-events: none;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 9999px;
}

@keyframes floating-points {
    0% {
        transform: translateY(0);
    }

    85% {
        opacity: 0;
    }

    100% {
        transform: translateY(-55px);
        opacity: 0;
    }
}

.points_wrapper .point:nth-child(1) {
    left: 10%;
    opacity: 1;
    animation-duration: 2.35s;
    animation-delay: 0.2s;
}

.points_wrapper .point:nth-child(2) {
    left: 30%;
    opacity: 0.7;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
}

.points_wrapper .point:nth-child(3) {
    left: 25%;
    opacity: 0.8;
    animation-duration: 2.2s;
    animation-delay: 0.1s;
}

.points_wrapper .point:nth-child(4) {
    left: 44%;
    opacity: 0.6;
    animation-duration: 2.05s;
}

.points_wrapper .point:nth-child(5) {
    left: 50%;
    opacity: 1;
    animation-duration: 1.9s;
}

.points_wrapper .point:nth-child(6) {
    left: 75%;
    opacity: 0.5;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

.points_wrapper .point:nth-child(7) {
    left: 88%;
    opacity: 0.9;
    animation-duration: 2.2s;
    animation-delay: 0.2s;
}

.points_wrapper .point:nth-child(8) {
    left: 58%;
    opacity: 0.8;
    animation-duration: 2.25s;
    animation-delay: 0.2s;
}

.points_wrapper .point:nth-child(9) {
    left: 98%;
    opacity: 0.6;
    animation-duration: 2.6s;
    animation-delay: 0.1s;
}

.points_wrapper .point:nth-child(10) {
    left: 65%;
    opacity: 1;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
}

.inner {
    z-index: 2;
    gap: 6px;
    position: relative;
    width: 100%;
    color: white;
    display: inline-flex;
    align-items: center;
    transition: color 0.2s ease-in-out;
}

.main-section {
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: var(--dark-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.side-menu {
    padding: 24px 24px;
    background-color: var(--dark-gray);
    height: 695px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    gap: 12px;
    .menu-item {
        gap: 12px;
        display: flex;
        width: 192px;
        height: 48px;
        align-items: center;
        justify-content: flex-start;
        border-radius: 7px;
        background-color: var(--dark-color);
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        transition: background-color 0.3s, transform 0.2s;
        cursor: pointer;
        overflow: hidden;
        .item-content {
            margin: 6px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
        }
        &:hover {
            background-color: #575757;
            transform: scale(1.05);
        }
        &.blue:hover {
            color: #4ecdff;
            background-color: rgba(0, 195, 255, 0.123);
        }
        &.gold:hover {
            color: #f7e22e;
            background-color: rgba(255, 187, 0, 0.123);
        }
        &.danger:hover {
            color: #ff4e4e;
            background-color: rgba(255, 0, 0, 0.123);
        }
        &.backgrou {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(24, 24, 24);
            cursor: default;
            &:hover {
                transform: none;
            }
        }
        &.backgrou-left {
            display: flex;
            align-items: center;
            justify-content: start;
            background-color: var(--light-gray);
            cursor: default;
            &:hover {
                transform: none;
            }
        }
    }
}

.menu-top-section, .menu-bottom-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
    padding: 2px 4px;
    border-radius: 7px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: white;
    padding: 6px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    &.btn-primary {
        background-color: #007bff;
        &:hover {
            background-color: #0153aa;
        }
    }
    &.btn-success {
        background-color: #28a745;
        &:hover {
            background-color: #218838;
        }
    }
    &.btn-danger {
        background-color: #dc3545;
        &:hover {
            background-color: #c82333;
        }
    }
    &.btn-warning {
        background-color: #ffc107;
        &:hover {
            background-color: #e0a800;
        }
    }
    &.btn-info {
        background-color: #17a2b8;
        &:hover {
            background-color: #138496;
        }
    }
}

#game-container {
    width: 100%;
    text-align: center;
    background-color: var(--dark-gray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    margin: 24px auto;
    justify-content: center;
}

.game-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.game-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#start {
    z-index: 2;
}

.tile {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    /* border: 2px solid #131313; */
    /* border-radius: 7px; */
}

.tile-img {
    width: 100%;
    height: 100%;
    background-size: 500px 500px;
}

.tile-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    transition: opacity 0.3s;
}

#choices {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.choice-dropdown {
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#status {
    font-size: 18px;
    color: #fff;
}

.revealBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}